{% extends 'index.html' %}
{% block title%}Лиды{% endblock %}

{% block content %}
    <div class="crm-header">
        <div class="row">
            <div class="col-1">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            </div>
            <div class="col-1">
                <img src="https://img.icons8.com/ios/50/000000/settings.png" alt="settings" width="16" height="16"/>
            </div>
            <div class="col-3">
                <p>Название</p>
            </div>
            <div class="col-2">
              <p>Владелец</p>
            </div>
            <div class="col-3">
                <p>Стадия лида</p>
            </div>
            <div class="col-2">
                <p>Описние</p>
            </div>
        </div>
    </div>
    {% for i in items %}
        <div class="crm-card crm-lead-card-id-{{ i.id }}">
            <div class="row">
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                </div>
                <div class="col-1">
                    <img src="http://127.0.0.1:8000/static/img/menu.svg" alt="menu" width="16" height="16">
                </div>
                <div class="col-3">
                    <a href="">{{ i.title }}</a>
                    <p>{{ i.opportunity }}₽</p>
                </div>
                <div class="col-2">
                    {% if i.contact == None %}
                        <p>{{ i.name }}</p>
                    {% else %}
                        <a href="#">{{ i.contact.first_name }} {{ i.contact.last_name }}</a>
                    {% endif %}
                </div>
                <div class="col-3">
                    <div class="progress lead-progress-bar">
                        {% for stage in lead_stages %}
                            {% if i.stage_id >= stage.id %}
                                <div class="progress-bar" style="background-color: #{{ i.getStageId.color }}!important;width: {{ progress_width }}%;"
                                role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                            {% else %}
                                <div class="progress-bar" style="background-color: #F8F9FA!important;width: {{ progress_width }}%;"
                                role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p>{{ i.getStageId.name }}</p>
                </div>
                <div class="col-2">
                    <p>Да</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
